{% block content %}
<div>
    <center>
        </h3>SIGN UP</h3>
            <form method="POST" action="/signup">
                <h3>Enter Username:</h3>
                <input type="email" name="username" placeholder="Username" autofocus="" required>
                <br>
                <h3>Enter Name:</h3>
                <input type="text" name="name" placeholder="Name" autofocus="">
                <br>
                <h3>Enter Password:</h3>
                <input type="password" name="password" placeholder="Password" required>
                <br>
                <br>
                <button>Sign Up</button>
            </form>
        </div>
    </center>
</div>
{% endblock %}